{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creer votre VDM</h1>
<div class container container_custom>
    <div class="row row_custom">
        <div class="col-xs-offest-3 col-xs-3">
            {{ form_start(form) }}
        </div>

        <div class="col-xs-offest-3 col-xs-3">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="row row_custom">
        <div class="col-xs-offeset-6 col-xs-6">
            <input class="btn btn-default" type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row row_custom">
        <div class="col-xs-offset-6 col-xs-6">
            <a class="btn btn-default" role="button" href="{{ path('vdm_table_index') }}">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
