{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creer votre VDM</h1>
<div class="row row_custom">

    <div class="col-xs-offset-1 col-xs-2 bloc">
    {{ form_start(form) }}
    </div>

    <div class="col-xs-offset-2 col-xs-2 bloc">
        {{ form_widget(form) }}
    </div>

    <div class="col-xs-offset-2 col-xs-2 bloc">
        <input type="submit" value="Create" />
    </div>

    <div class="col-offset-2 col-xs-1">
    {{ form_end(form) }}
    </div>
    
    <div class="col-offset-6 col-xs-6 ">
    <a class="btn btn-default" role="button" href="{{ path('vdm_table_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
